<p>{{ user.username }}<br> <small>({{ user.name }})</small></p>
{% if shout %}
<h5>{{ shout.content }}</h5>
{% endif %}
{% if user.image %}
<img src="{{ path('hollo_tracker_media_index', {'id': user.id, 'size': 100}) }}"/>
{% endif %}

